parameters:
    level: max

    paths:
        - src
        - tests

    autoload_files:
        - vendor-bin/test/vendor/autoload.php

    ignoreErrors:
        -
            message: "#^Call to an undefined method Twig\\\\Environment::expects\\(\\)\\.$#"
            count: 1
            path: tests/Block/Service/GDPRInformationBlockServiceTest.php

